html {
    font-family: sans-serif;
}

body{
    width: 50%;
    max-width: 800px;
    min-width: 480;
    margin: 0 auto;
}

.lastResult{
    color: white;
    padding: 3px;
}

.palpites{
    font-family: sans-serif;
}

.ultimoResultado{
    font-family: sans-serif;
}

.baixoOuAlto{
    font-family: sans-serif;
}

.envioPalpite{
    font-family: sans-serif;
}
.campoPalpite{
    font-family: sans-serif;
}

.resultadoParas {
font-family: sans-serif;
}